{# toon hero op de toplevel pagina #}
<div class="hero">
    <div class="hero__top">
        <div class="hero__top__banner">
            {% if entry.image is defined and entry.image|length %}
            {% import '_macros/_image.twig' as img %}
            <div class="heroImage">
                {{ img.responsiveImage(entry.image, { maxWidth: 1600, aspectRatio: '16:8', cropMode: 'crop' }) }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="hero__bottom grid grid--compact">
            <div class="heroTitle">
                <h1>{{ entry.payoff }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="mainContent mainContent--hasHero">
    <div class="container">
        <article class="grid grid--compact article">
            {% include '_macros/_nav_breadcrumbs' %}

            <header class="article__header">
                <div class="article__header__title">
                    <h1>{{ entry.title }}</h1>
                </div>
            </header>

            <div class="article__introduction">
                <div class="content contentSizeMedium">
                    {{ entry.intro }}
                </div>
            </div>

            {% include '_macros/_contentstream' %}

            {% set relatedItems = entry.getChildren() %}
            {% set relatedItemsTitle = 'Meer over ons:' %}
            {# Alleen tonen als er gerelateerde items zijn #}
            {% include '_macros/_nav_relatedItems' with { relatedItems: relatedItems, relatedItemsTitle: relatedItemsTitle } %}
        </article>
    </div>

    
</div>