{% extends "_layouts/default" %}

{% block bodyclass %}{% endblock %}

{% block content %}
{% set currentPath = craft.app.request.pathInfo %}

<div class="mainContent">
    <div class="container">
        <article class="grid grid--compact article">
            {% include '_macros/_nav_breadcrumbs' %}

            <header class="article__header">
                <div class="article__header__title">
                    <h1>{{ entry.title }}</h1>
                </div>
            </header>

            {% if entry.intro %}
            <div class="article__introduction">
                <div class="content contentSizeMedium">
                    {{ entry.intro }}
                </div>
            </div>
            {% endif %}

            {# toon adres en openingstijden op contact pagina #}
            {% if currentPath == 'over-ons/contact' %}
            {% include '_components/_article_addressBlock' %}
            {% endif %}

            {# Toon partners op partners pagina #}
            {% if currentPath == 'over-ons/partners' %}
                {% include '_components/_article_partnerlist' %}
            {% endif %}
            
            {% if entry.image[0] is defined and entry.image[0] %}
            <figure class="article__mainImage">
                {% import '_macros/_image.twig' as img %}
                {{ img.responsiveImage(entry.image, { maxWidth: 940 }) }}

                {% if entry.image[0].title and entry.imageShowCaption is defined and entry.imageShowCaption == true %}
                    <figcaption class="caption">{{ entry.image[0].title }}</figcaption>
                {% endif %}
            </figure>
            {% endif %}

            {# toon map op contact #}
            {% if currentPath == 'over-ons/contact' %}
            {% include '_components/_mapEmbed' %}
            {% endif %}

            {% include '_macros/_contentstream' %}
        </article>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}