{% extends "_layouts/default" %}

{% block bodyclass %}homepage{% endblock %}

{% block content %}

<div class="hero">
    <div class="hero__top">
        <div class="hero__top__banner">
            {% if entry.headerImage is defined and entry.headerImage|length %}
            {% import '_macros/_image.twig' as img %}
            <div class="heroImage">
                {{ img.responsiveImage(entry.headerImage, { maxWidth: 1600, aspectRatio: '16:8', cropMode: 'crop' }) }}
            </div>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="hero__bottom grid grid--compact">
            <div class="heroTitle">
                <h1>{{ entry.payoff }}</h1>
            </div>
        </div>
    </div>
</div>




<div class="container">
    <div class="grid overOns">
        <div class="overOns__main">
            <div class="content contentSizeMedium">
                {{ entry.aboutText }}
            </div>
        </div>
        
        <div class="overOns__footer">
            {% if entry.aboutLink is defined and entry.aboutLink %}
                <a class="button button--large button--forward" href="{{ entry.aboutLink.one().url }}">
                    Meer over ons
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% include "_components/_fp_highlights.twig" %}

<div class="grid bgColor bgColor--lightGreen">
    {% include "_components/_fp_block_projecten.twig" %}
    {% include "_components/_fp_block_nieuws.twig" %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}