{% if entry.partnerList is defined and entry.partnerList|length %}

{% set currentSection = craft.app.request.getSegment(1) %}
<div class="article__partnerlist">
    <div class="flexColumn">
        {% if currentSection == 'projecten' %}
        <div class="flexColumn__header">
            <div class="content">
                <div class="compactTitle">Projectpartners</div>
            </div>
        </div>
        {% endif %}

        <div class="flexColumn__content">
            <div class="logoGrid">
            {% for partnerlink in entry.partnerList %}
            {% import '_macros/_image.twig' as img %}
            
            {% set logo = partnerlink.partnerLogo %}
            {% set url = partnerlink.externalUrl ?? '' %}
            {% if logo|length %}
                {% if url %}
                    <a href="{{ url }}" rel="noopener" target="_blank">
                        {{ img.responsiveImage(logo, {
                            maxWidth: 160,
                            cropMode: 'fit',
                            quality: 90
                        }) }}
                    </a>
                {% else %}
                    <span>
                        {{ img.responsiveImage(logo, {
                            maxWidth: 160,
                            cropMode: 'fit',
                            quality: 90
                        }) }}
                    </span>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}