{% set overonsChildren = entry.getChildren() %}
{% if overonsChildren | length %}
<aside class="article__nav">
    <nav>
        <h2 class="compactTitle">Meer:</h2>
        {#<a class="visually-hidden" href="#startContent">Overslaan en door naar de inhoud</a>#}

        <ol class="subpaginaList">
            {% for child in overonsChildren %}
                <li class="subpaginaItem__link">
                    <a href="{{ child.url }}">{{ child.title }}</a>
                </li>
            {% endfor %}
        </ol>
    </nav>
</aside>
{#<div id="startContent" class="visually-hidden"></div>#}
{% endif %}