{% extends "_layouts/default" %}

{% block bodyclass %}{% endblock %}

{% block content %}
{% set children = entry.getChildren() %}
{% set ruimtesChildren = children | filter(child => child.type.handle == 'ruimtes') %}

<div class="mainContent">
    <div class="container">
        <article class="grid grid--compact article">
            {% include '_macros/_nav_breadcrumbs' %}

            <header class="article__header">
                <div class="article__header__title">
                    <h1>{{ entry.title }}</h1>
                </div>
            </header>

            {% if entry.intro %}
            <div class="article__introduction">
                <div class="content contentSizeMedium">
                    {{ entry.intro }}
                </div>
            
                {# Toon knop als er "ruimtes" onder hangen. AKA de congrescentrum pagina #}
                {# slordig en niet waaterdicht maar het werkt... #}
                {% if ruimtesChildren | length %}
                <div class="buttonGroup">    
                    <a class="button button--large button--forward" href="/wat-we-doen/congres-en-vergadercentrum/reserveren">Prijzen en reserveren</a>
                </div>
                {% endif %}
            </div>
            {% endif %}
            

            {% if entry.image[0] is defined and entry.image[0] %}
            <figure class="article__mainImage{% if entry.image[0].title %} article__mainImage--withCaption{% else %} article__mainImage--withoutCaption{% endif %}">
                {% import '_macros/_image.twig' as img %}
                {{ img.responsiveImage(entry.image, { maxWidth: 940 }) }}

                {% if entry.image[0].title %}
                    <figcaption class="caption">{{ entry.image[0].title }}</figcaption>
                {% endif %}
            </figure>
            {% endif %}

            {# Toon related projects als die er zijn #}
            {% include '_components/_watwedoen_relatedProjects' %}

            {# Toon children met entrytype handle "ruimtes" als die er zijn #}
            {% if ruimtesChildren | length %}
                {% include '_components/_article_ruimtes' %}
            {% endif %}

            {% include '_macros/_contentstream' %}
        </article>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}