:root {
    // https://colourcontrast.cc/
    // Basic colors
    --black: #000;
    --white: #fff;

    --red: #FF4C51;
    // Corporate identity colors.  // Use BLACK content on regular colorsc// Use WHITE content on -alt colors
    --yellow: #feeb18;

    --green: #c0d345;
    --lightGreen: #edf4c1;
    --lightestGreen: #f7f9ed;
    --darkGreen: #4D5517;

    --blue: #98b3de;
    --lightBlue: #d3e0f6;
    --lightestBlue: #f0f2fa;
    --darkBlue: #1c3085;

    --ochre: #CC7722;
    --lightOchre: #edd8a4;
    --lightestOchre: #f7f1e1;
    --darkOchre: #4c1d04;

    --kcbLightgreen: #e2f0d4;
    --kcbGreen: #80b042;
    --kcbDarkgreen: #423a1a;

    // units
    --spaceUnit: 10px;
     --space-1: var(--spaceUnit);
     --space-2: calc(2 * var(--spaceUnit));
     --space-3: calc(3 * var(--spaceUnit));
     --space-4: calc(4 * var(--spaceUnit));
     --space-5: calc(5 * var(--spaceUnit));
     --space-6: calc(6 * var(--spaceUnit));

    //fonts
    --fontSize-sm: 0.813rem; //13px

}

$break-small: 460; //460px
$break-medium: 600; //600px
$break-large: 768; // staande ipad
$break-xlarge: 1024; // liggende ipad
$break-wide: 1200; //1200px
$break-xwide: 1440; //1440px
$break-xxwide: 1600; //1600px

@mixin respond-to($media) {

    @if $media == small-screens {
        @media only screen and (min-width: calc($break-small / 16) + 'em') {
           @content;
        }
    }
    @if $media == medium-screens {
        @media only screen and (min-width: calc($break-medium / 16) + 'em') {
           @content;
        }
    }
    @if $media == large-screens {
        @media only screen and (min-width: calc($break-large / 16) + 'em') {
           @content;
        }
    }
    @if $media == up-to-large-screens {
        @media only screen and (max-width: calc(($break-large - 1) / 16) + 'em') {
           @content;
        }
    }
    @if $media == xlarge-screens {
        @media only screen and (min-width: calc($break-xlarge / 16) + 'em') {
           @content;
        }
    }
    @if $media == wide-screens {
        @media only screen and (min-width: calc($break-wide / 16) + 'em') {
           @content;
        }
    }
    @if $media == xwide-screens {
        @media only screen and (min-width: calc($break-xwide / 16) + 'em') {
           @content;
        }
    }
    @if $media == xxwide-screens {
        @media only screen and (min-width: calc($break-xxwide / 16) + 'em') {
           @content;
        }
    }

}

html {
    scroll-behavior: smooth;
}

// Reduced motion preferences
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
