.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

hr {
    height: 2px;
    width: 100%;
    border: 0;
    background: var(--black);
}

figure {
    margin: 0;
}

img {
    width: 100%;
    display: block;
    height: auto;

    &.svg {
        width: 160px;
        max-width: 100%;
    }
}

.embed { // media embeds
    width: 100%;
    max-width: 100%;
    height: auto;

    iframe {
        width: 100%;
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
    
}





// Maps and iframes

.map {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

iframe {
    width: 100%;
}

