// structure
html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
// for margins of the main sections
.mainContent {  
    margin-block: calc( var(--space-4) * 2 );

        &--hasHero {
            margin-block-start: var(--space-3);
        }

    @include respond-to(xlarge-screens) { // 1024px
        margin-block: calc( var(--space-5) * 2 ) calc( var(--space-4) * 2 );

        &--hasHero {
            margin-block-start: var(--space-5);
        }

    }

}

.container {
    width: min(1440px, 100vw - 40px);
    margin-inline: auto;

    @include respond-to(large-screens) {
        width: min(1440px, 100vw - 80px);
    }



}

////////////////////////////////////////////////////
// NEW GRID SYSTEM
////////////////////////////////////////////////////
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-2);
    

    @include respond-to(xlarge-screens) { // 1024px
        gap: var(--space-4);
    }

    @include respond-to(xxwide-screens) { //1600px
        gap: var(--space-6);
    }

    &__header {
        grid-column: 1 / -1;
    }

    &__content {
        grid-column: 1 / -1;
    }

    &__footer {
        grid-column: 1 / -1;
    }

    &--gapless {
        gap: 0;
    }

    &--compact {
        align-items: self-start;
        grid-auto-flow: dense;
    }

}

////////////////////////////////////////////////////
// BACKGROUND COLORED SECTIONS
////////////////////////////////////////////////////

.grid.bgColor {
    padding-block: var(--space-4);

    > * {
        grid-column: 1 / -1;
        

        &:not(:last-child) {
            margin-block-end: var(--space-2);
        }

    }

    @include respond-to(large-screens) { // 768px

        > *:not(:last-child) {
            margin-block-end: var(--space-4);
        }

    }

    @include respond-to(xxwide-screens) { //1600px
        padding-block: var(--space-6);
    }

}

.bgColor {

    &--lightGreen {
        background-color: var(--lightGreen);
    }

}

////////////////////////////////////////////////////
// HOMEPAGE OVER ONS
////////////////////////////////////////////////////
.overOns {
    margin-block-start: var(--space-4);
    margin-block-end: var(--space-6);

    &__main {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        gap: var(--space-2);
    }

    &__footer {
        grid-column: 1 / -1;
    }

    @include respond-to(medium-screens) { // 600px
            
        &__main {
            grid-column: 2 / 12;
        }

        &__footer {
            grid-column: 2 / 12;
        }

    }

    @include respond-to(xxwide-screens) { //1600px
        margin-block-start: var(--space-6);
    }

}

////////////////////////////////////////////////////
// HOMEPAGE NIEUWS
////////////////////////////////////////////////////
.blockNieuwsItems {

    .card {
        grid-column: 1 / -1;
    }

    @include respond-to(medium-screens) { // 600px

        .card {
            grid-column: span 6;
        }
    }

    @include respond-to(xlarge-screens) { // 1024px
        
        .card {
            grid-column: span 3;
        }

    }

}

////////////////////////////////////////////////////
// ARTICLES
////////////////////////////////////////////////////
.article {

    #startContent,
    &__breadcrumbs,
    &__header,
    &__introduction,
    &__mainImage,
    &__contentBlockFullImage,
    &__addressBlock,
    &__relatedProjects,
    &__main,
    &__highlights,
    &__contentBlockText,
    &__contentBlockImage,
    &__contentblockEmbed,
    &__contentBlockButtons,
    &__logoGrid,
    &__relatedNieuws,
    &__relatedProjects,
    &__partnerlist,
    &__tarievenlijst,
    &__nav,
    &__map,
    &__sidebar,
    &__relatedItems,
    &__footer,
    &__ruimtes {
        grid-column: 1 / -1;
    }

    &__mainImage,
    &__contentBlockFullImage,
    &__contentblockEmbed,
    &__tarievenlijst,
    &__relatedNieuws {
        margin-block: var(--space-2);
    }

    @include respond-to(large-screens) { // 768px
        &__breadcrumbs,
        &__header,
        &__introduction,
        &__addressBlock,
        &__contentBlockText,
        &__contentBlockImage,
        &__contentblockEmbed,
        &__contentBlockButtons,
        &__mainImage--inline,
        &__tarievenlijst,
        &__sidebar,
        &__footer,
        &__relatedItems {
            grid-column: 2 / 12;
        }

    }

    @include respond-to(xlarge-screens) { // 1024px
        &__mainImage--block {
            margin-block: var(--space-2);
        }

        &__mainImage--noCaption {
            grid-column: 2 / 12;
        }

        &__contentBlockFullImage {
            margin-block: var(--space-2);

            &--noCaption {
                grid-column: 2 / 12;
            }

        }

        &__introduction--inline {
            grid-column: 2 / 9;
        }

        &__mainImage--inline {
            grid-column: 9 / 13;
        }

        &__contentBlockText {

            &--left {
                grid-column: 1 / 8;
            }

            &--right {
                grid-column: 6 / -1;
            }

            &--centered {
                grid-column: 2 / 12;
            }

        }

        &__contentBlockImage {

            &--left {
                grid-column: 1 / 6;
            }

            &--right {
                grid-column: 8 / -1;
            }
        }



    }

    @include respond-to(wide-screens) { // 1200px

        &__mainImag,
        &__contentBlockFullImage {

            &--withoutCaption {
                grid-column: 3 / 11;
            }

        }

        &__contentblockEmbed {
            grid-column: 2 / 12;
        }

        &__contentBlockText--centered {
            grid-column: 2 / 10;
        }

    }

}

.article__mainImage--withCaption,
.article__contentBlockFullImage--withCaption {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    align-items: flex-end;
    
    picture {
        max-width: 1024px;
    }

    .caption {
        flex-grow: 1;
        margin-block-start: 0;
    }

    @include respond-to(large-screens) { // 768px
        flex-direction: row;
        gap: var(--space-4);
        
        .caption {
            width: 30%;
            border-top: 0.094rem solid var(--black);
            padding-block-start: var(--space-2);
        }
    }
}

.article__addressBlock {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    //margin-block: var(--space-2);

    @include respond-to(xlarge-screens) { // 1024px
        flex-direction: row;
        gap: var(--space-4);
        justify-content: space-between;
    }
}

.article__contentBlockButtons {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.article__header__meta {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-block-end: var(--space-2);
}

.grid__header--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @include respond-to(large-screens) { // 768px
        .button--down {
            display: none;
        }
    }

}

.article__map {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    margin-block: var(--space-2);
}

.article__footer {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-block-start: var(--space-4);
    padding-block-start: var(--space-4);
    border-top: 0.094rem solid var(--darkBlue);
}

////////////////////////////////////////////////////
// FLEX COLUMNS
// GENERIC CLASS TO MAKE A FLEX COLUMN
// o.a. partnerlist, related nieuws, relatedItems
////////////////////////////////////////////////////
.flexColumn {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);

    //@include respond-to(large-screens) { // 768px
    //    gap: var(--space-4);
    //}
}

////////////////////////////////////////////////////
// LOGO GRID
////////////////////////////////////////////////////
.logoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: var(--space-2);
    align-items: center;

    @include respond-to(large-screens) { // 768px
        gap: var(--space-4);
    }

}

////////////////////////////////////////////////////
// ASIDE
////////////////////////////////////////////////////
.sidebar {
    margin-block-end: calc( var(--space-4) * 2 );
    padding-block-start: calc( var(--space-4) * 2 );
    border-top: 0.094rem solid var(--black);

    > * {
        grid-column: 1 / -1;

       // @include respond-to(large-screens) { // 768px
        //    grid-column: 2 / 12;
        //}
    }
}

////////////////////////////////////////////////////
// LISTINGS 
////////////////////////////////////////////////////
.nieuwsOverzicht {
    grid-column: 1 / -1;
    margin-block-end: var(--space-4);

    @include respond-to(large-screens) { // 768px
        grid-column: 1 / 9;
    }

    header h2 {
        margin-block-end: var(--space-4);
    }


}

.agendaOverzicht {
    grid-column: 1 / -1;

    header h2 {
        margin-block-end: var(--space-4);
    }

    @include respond-to(large-screens) { // 768px
        grid-column: 9 / -1;
    }

    .agendaList {
        grid-column: 1 / -1;
    }
}

.projectenOverzicht {

    .card {
        grid-column: 1 / -1;

        //&__image {
            //margin-block-end: var(--space-2);
        //}

         @include respond-to(medium-screens) { // 600px
            grid-column: span 6;
        }

        @include respond-to(xlarge-screens) { // 1024px
            grid-column: span 4;
        }

         @include respond-to(xwide-screens) { //1440px
            grid-column: span 3;
        }

    }

}

////////////////////////////////////////////////////
// AGENDALIST
////////////////////////////////////////////////////
ul.agendaList {

    .agendaListItem {
        display: flex;

        &__link {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            gap: calc( var(--space-1) / 2);
            padding-block: var(--space-2);
            
        }

        &:not(:last-child) {
            border-block-end: 0.063rem solid var(--black);
        }

        &__date {
            width: 100%;
        }

        &__title {
            width: calc(100% - 20px);
        }
        
    }
    
}

////////////////////////////////////////////////////
// TARIEVENLIJST
////////////////////////////////////////////////////
ol.tarievenlijst {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    margin: var(--space-2) 0;
    padding: 0;
    list-style: none;

    .tarievenlijstItem {
        display: flex;
        font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
        line-height: 1.25;
        font-weight: 550;
        
        

        &:not(:last-child) {
            padding-block-end: var(--space-1);
            border-bottom: 0.063rem solid var(--white);
        }

        &__name {
            flex: 0 0 calc(35%);
        }

        &__slot {
            flex: 1 1 calc(35%);
        }

    }


    @include respond-to(xlarge-screens) { // 1024px
            }
}
