@font-face {
    font-family: "Figtree";
    src: url("/assets/fonts/Figtree-VariableFont_wght.ttf") format("trueType");
    font-weight: 300 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-display: swap;
}

@font-face {
    font-family: "FigtreeItalic";
    src: url("/assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("trueType");
    font-weight: 300 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-display: swap;
}


body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 425;
    font-style: normal;
    font-size: var(--step-0);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: var(--black);
}

a {
    color: inherit;
}


b, strong {
    font-style: normal;
    font-weight: 700;
}

em, i {
    font-family: "FigtreeItalic";
    font-style: normal;

}

address {
    font-style: normal;
    line-height: 1.5;
}

::placeholder {
    color: var(--black);
    opacity: .4;
    font-size: 1rem;
}

:is(h1, h2, h3, h4, h5, h6, .title) {
    margin: 0;
    font-weight: 700;
    line-height: 1.1;
}

h1 {
    font-size: clamp(1.35rem, 1.15rem + 2.2222vw, 2.75rem);
}

h2 {
    font-size: clamp(1.35rem, 1.05rem + 1.3333vw, 2.25rem);
}

h3, h4, h5, h6 {
    font-size: clamp(1.25rem, 1.0833rem + 0.7407vw, 1.75rem);
}

p, li, .address {
    font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
    font-weight: 450;
    line-height: 1.4;
    margin-block: 0;
}

.compactTitle {
    font-size: clamp(1.0625rem, 0.9286rem + 0.5952vw, 1.375rem);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .035rem;
    line-height: 1;
}

.label {
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .035rem;
    line-height: 1;
}

.caption {
    font-family: "FigtreeItalic";
    font-size: .875rem;
    line-height: 1.2;
    margin-block-start: var(--space-2);
    overflow-wrap: break-word;
}

////////////////////////////////////////////////////
// ARTICLES (meestal uitzonderingen op bovenstaande)
////////////////////////////////////////////////////
.cKcontent {

    p:not(:last-child),
    h2, h3,
    h4, h5, h6,
    ul, ol {
        margin-block-end: var(--space-2);
    }

    li {
        margin-block-end: var(--space-1);
    }

    ul, ol {
        margin-block: var(--space-2);
        padding-inline-start: var(--space-2);       
    }

    blockquote {
        margin: var(--space-2) var(--space-2);
        padding-inline-start: var(--space-2);
        position: relative;

        &:before {
            content: '“';
            font-size: 2.25rem;
            font-weight: 700;
            position: absolute;
            left: 0;
            top: -10px;
        }

        @include respond-to(xlarge-screens) { // 768px
            margin: var(--space-4) var(--space-2);
        }

        p {
            font-family: "figtreeItalic";
            //font-size: 1.75rem;
            font-size: clamp(1.25rem, 1.0833rem + 0.7407vw, 1.75rem);
            font-weight: 700;
            line-height: 1.2;
        }
    }

}

.contentSizeMedium {

    p {
        font-size: clamp(1.125rem, 0.8833rem + 1.0741vw, 1.85rem);
        font-weight: 550;
    }

}

.article__header__meta {
    color: var(--darkBlue);
}

.overOns__content p {
    font-weight: 580;
}

.article__header__title__date {
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .035rem;
    line-height: 1;
    margin-block-end: var(--space-2);
    display: flex;
    align-items: center;
    gap: var(--space-1);

    @include respond-to(xlarge-screens) { // 1024px
        font-size: 1.25rem;
    }

    @include respond-to(wide-screens) { //1200px
        font-size: 1.5rem;
    }

    @include respond-to(xwide-screens) { //1440px
        font-size: 1.75rem;
    }

    &::before {
        content: '';
        display: inline-block;
        width: 26px;
        height: 26px;
 
        background-repeat: no-repeat;
        background-position: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 10H3M16 2V6M8 2V6M7.8 22H16.2C17.8802 22 18.7202 22 19.362 21.673C19.9265 21.3854 20.3854 20.9265 20.673 20.362C21 19.7202 21 18.8802 21 17.2V8.8C21 7.11984 21 6.27976 20.673 5.63803C20.3854 5.07354 19.9265 4.6146 19.362 4.32698C18.7202 4 17.8802 4 16.2 4H7.8C6.11984 4 5.27976 4 4.63803 4.32698C4.07354 4.6146 3.6146 5.07354 3.32698 5.63803C3 6.27976 3 7.11984 3 8.8V17.2C3 18.8802 3 19.7202 3.32698 20.362C3.6146 20.9265 4.07354 21.3854 4.63803 21.673C5.27976 22 6.11984 22 7.8 22Z' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
}

.article__contentBlockImage--centered .caption {
    text-align: center;
}


////////////////////////////////////////////////////
// BREADCRUMBS
////////////////////////////////////////////////////
.breadcrumbs ol {
	list-style: none;
	margin: 0;
    padding: 0;
	display: flex;
    flex-wrap: wrap;
	gap: 0.25rem;

    li {
        display: inline-flex;

        align-items: center;
        font-size: .75rem;
        gap: 0.25rem;
        text-transform: uppercase;
        font-weight: 600;
        
        line-height: 1;

        @include respond-to(xlarge-screens) { // 1024px
            font-size: .875rem;
            letter-spacing: .035rem;
        }
    }

    li a[aria-current="page"] {
        text-decoration: none;
    }

    li a {
        color: var(--darkBlue);

        &:hover,
        &:focus {
            color: var(--black);
            text-decoration: underline;
        }
    }



    svg.icon-home {
        width: 14px;
        height: auto;
    }
}

////////////////////////////////////////////////////
// PAGINATION
////////////////////////////////////////////////////

.pagination {
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    //align-items: center;
    //padding: var(--space-2) 0;
    gap: var(--space-2);
    margin-block-start: var(--space-2);
    padding-block: var(--space-2);
    border-top: 1px solid var(--darkBlue);

    .label {
        color: var(--darkBlue);
    }

    nav {
        display: flex;
        gap: var(--space-2);
        justify-content: space-between;
    }
}

////////////////////////////////////////////////////
// SWIPER
////////////////////////////////////////////////////
:root {
    --swiper-navigation-size: 60px!important;
    --swiper-navigation-color: var(--white);
}

.swiper-button-prev,
.swiper-button-next {
    height: 100%!important;
    top: 0!important;
    margin: 0!important;
}

.swiper-button-prev {
    left: 0!important;
    right: auto!important;

    &::after {
    content: '←';
        font-size: 60px;
        font-weight: 550;
        text-shadow: -2px 1px 2px rgba(0,0,0,.75);
    }
}

.swiper-button-next {
    right: 0!important;
    left: auto!important;

    &::after {
        content: '→';
        font-size: 60px;
        font-weight: 550;
        text-shadow: 2px 1px 2px rgba(0,0,0,.75);
    }
}

////////////////////////////////////////////////////
// NAV RELATED ITEMS LIST
////////////////////////////////////////////////////

.relatedItems {
    margin-block: var(--space-2);
    //background-color: var(--lightBlue);
    //border: 1px solid var(--lightBlue);

    &--color\:blue {
        background-color: var(--lightBlue);
        border: 1px solid var(--lightBlue);
    }
    &--color\:green {
        background-color: var(--lightGreen);
        border: 1px solid var(--lightGreen);
    }
}

.relatedItems--color:green {
    background-color: red;
}

.relatedItems__title {
    padding-inline: var(--space-1);
    padding-block-start: var(--space-2);
}

ol.relatedItems__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
        line-height: 1;
        font-weight: 650;
        overflow-wrap: break-word;

        a {
            text-decoration: none;
            color: inherit;
            display: block;
            padding-block: var(--space-2);
            width: 100%;
            transition: all ease-in-out .2s;
            border-top: 0.063rem solid var(--white);

            &::before {
                content: '→';
                display: inline-block;
                font-size: 1.125rem;
                line-height: 1;
                font-weight: inherit;
                width: fit-content;
                margin-left: var(--space-1);
                margin-right: var(--space-1);
                transition: all ease-in-out .2s;
            }

            &:hover,
            &:focus {
                text-decoration: underline;
                background-color: var(--white);

                &::before {
                    transform: translateX(8px);
                }
            }

        }

    }

}

////////////////////////////////////////////////////
// AGENDA
////////////////////////////////////////////////////
.agendaList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.agendaListItem__link {
    text-decoration: none;
    transition: transform 0.25s ease-in-out;

    &::after {
        content: '→';
        display: inline-block;
        font-size: 1.125rem;
        line-height: 1;
        
        width: fit-content;
        transition: all ease-in-out .2s;
    }

    &:hover,
    &:focus {
        transform: translateY(-4px);
        //background-color: var(--lightBlue);

        &::after {
            transform: translateX(5px);
        }
    }

} 

.agendaListItem__date,
.agendaListItem__title {
    line-height: 1.25;
}

.agendaListItem__date {
    font-size: clamp(0.75rem, 0.6964rem + 0.2381vw, 0.875rem);
    text-transform: uppercase;
    font-weight: 650;
}
.agendaListItem__title {
    font-size:clamp(0.875rem, 0.8214rem + 0.2381vw, 1rem);
    line-height: 1.25;
    font-weight: 550;
}



a.listing-item--searchresult,
a.listing-item--agendaitem {
    text-decoration: none;
}

a.listing-item--agendaitem {
    text-decoration: none;

}

.message--warning {
    margin-top: var(--space-1);
    padding: 5px var(--space-1);
    color: var(--white);
    background-color: var(--red);
    font-size: var(--step--3);
}



ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    

    li {
        font-size: var(--step--3);
        
        text-decoration: none;
        border: 1px solid var(--black);
        border-radius: 14px;
        background-color: var(--black);
        color: var(--white);
        text-transform: uppercase;

        a {
            text-decoration: none;
            color: var(--white);
            display: block;
            padding-inline: 8px;
            padding-block: 2px;
            border-radius: 14px;

            &:hover {
                color: var(--black);
                background-color: var(--white);
            }

        }

    }

    li:not(:has(a)) { 
        border-radius: 14px;
        padding-inline: 8px;
        padding-block: 2px;
        }
}


////////////////////////////////////////////////////
// CARDS & BLOCKS
////////////////////////////////////////////////////
// zie _cards.scss

////////////////////////////////////////////////////
// SITEFOOTER
////////////////////////////////////////////////////
// See _siteFooter.scss
