{% extends "_layouts/cursusNatteTeelten" %}

{% block bodyclass %}{% endblock %}

{% block content %}
<div class="mainContent">
    <div class="container">
        <article class="grid article">
            <header class="article__header">
                <div class="article__header__title">
                    <h1>B{{ entry.title }}</h1>
                </div>
            </header>

            <div class="article__introduction">
                <div class="content contentSizeMedium">
                    {{ entry.intro }}
                </div>
            </div>
        </div>
        </article>
    </div>
</div>




{% endblock %}

{% block scripts %}
{% endblock %}