<IfModule mod_rewrite.c>
    RewriteEngine On

    # Route 404s to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
    RewriteRule (.+) index.php [L]




Redirect 301 /nieuws /actueel
Redirect 301 /nieuwsitem/(.*) /actueel/$1
Redirect 301 /agenda /actueel
Redirect 301 /agenda/(.*) /actueel/$1
Redirect 301 /pagina/(.*) /paginas/$1
Redirect 301 /project/(.*) /projecten/$1
Redirect 301 /watwedoen /wat-we-doen
Redirect 301 /pagina/het-biosintrum /over-ons/het-biosintrum
Redirect 301 /pagina/biosintrum-bestuur-raad-van-advies /over-ons/organisatie
Redirect 301 /contact /over-ons/contact
Redirect 301 /landing/natteteelten /wat-we-doen/expertisecentrum-natte-teelten

</IfModule>

